@import "../../node_modules/bootstrap/scss/variables";
@import "../../app/mixins";

app{
    display: block;
    padding: 2rem;
    height: 100%;
    .columnsWrapper{
        height: 100%;
        display: -webkit-flex;
        display: flex;
    }

    .card{
        margin-bottom: 1rem;
    }
}

html, body, app{
    height: 100%;
}