cards-catalog{
    .topSection{
        padding-bottom: 1rem;
        border-bottom: 1px solid #333;
    }
}

.cards{


    .cardsColumn{
        padding: 1rem;
        overflow-y: scroll;
        width: 23rem;
        background: #f4f4f4;
        min-height: 10rem;
    }
}