cards-catalog{
    display: block;
    height: 100%;
    overflow-y: hidden;
    .topSection{
        padding-bottom: 1rem;
        border-bottom: 1px solid #333;
    }
    cards-column{
        @include i-flex(0, 1, 25%);
    }
}