@mixin i-flex($glow:0, $shrink:1, $basis:auto) {
    -webkit-flex: $glow $shrink $basis; /* Safari 6.1+ */
    -ms-flex: $glow $shrink $basis; /* IE 10 */ 
    flex: $glow $shrink $basis;
}

@mixin i-background($imageUrl, $repeat, $position) {
  background : {
    image    : image-url($imageUrl);
    repeat   : $repeat;
    position : $position;
  }
}

@mixin i-round-corners($radius: 5px) {
  -webkit-border-radius: $radius;// Safari
  -moz-border-radius: $radius;// For Mozilla
  -o-border-radius: $radius;// For Opera
  -khtml-border-radius: $radius;// For old Safari, KHTML
  border-radius: $radius;
}

@mixin i-round-four-corners($leftTopRadius: 5px, $rightTopRadius: 5px, $rightButtomRadius: 5px, $leftBottomRadius: 5px) {
  -webkit-border-radius: $leftTopRadius $rightTopRadius $rightButtomRadius $leftBottomRadius;
  -moz-border-radius: $leftTopRadius $rightTopRadius $rightButtomRadius $leftBottomRadius;
  -o-border-radius: $leftTopRadius $rightTopRadius $rightButtomRadius $leftBottomRadius;
  -khtml-border-radius: $leftTopRadius $rightTopRadius $rightButtomRadius $leftBottomRadius;
  border-radius: $leftTopRadius $rightTopRadius $rightButtomRadius $leftBottomRadius;
}


@mixin i-transition($property, $duration, $effect){
  transition: $property $duration $effect;
  -webkit-transition: $property $duration $effect;
  -o-transition: $property $duration $effect;
  -moz-transition: $property $duration $effect;
}

@mixin i-transform($property){
  transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  -webkit-transform: $property;
}

@mixin i-box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: $top $left  $blur $color inset;
    -moz-box-shadow:$top $left  $blur $color inset;
    box-shadow:$top $left  $blur $color inset;
  } @else {
    -webkit-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    box-shadow: $left $top $blur $color;
  }
}
@import "../../node_modules/bootstrap/scss/variables";
@import "../../app/mixins";

$mainBlue:#0078d7;
$mainBlueDark: #106ebe;
$background: #f4f4f4;

app{
    display: block;
    height: 100%;
    background: $background;
    .columnsWrapper{
        height: 100%;
        display: -webkit-flex;
        display: flex;
    }

    .card{
        margin-bottom: 1rem;
    }
}

html, body, app{
    height: 100%;
}
cards-catalog{
    display: block;
    height: 100%;
    overflow-y: hidden;
    .topSection{
        padding-bottom: 1rem;
        border-bottom: 1px solid #333;
    }
    cards-column{
        @include i-flex(0, 1, 25%);
    }
}
cards-column{
  @include i-flex(0, 1, 24rem);
  background: #f4f4f4;
  min-height: 30rem;
  overflow-y: scroll;
  padding: 1rem;
  margin: 2rem 0.5rem 0.5rem 0rem;
}
nav-top{
  display: block;
  color: #fff;
  background: $mainBlue;
  .navbar{
    padding: 0rem;
  }
  .navbar-brand{
    color: #fff;
    font-size: 1rem;
    padding: .35rem 1.6rem;
    margin-right: 0rem;
    background: $mainBlueDark;
  }
  .navbar-nav{
    .nav-link {
        color: #fff;
        display: block;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        &:hover{
          background: $mainBlueDark;
        }
    }
  }
}