nav-top{
  display: block;
  color: #fff;
  background: $mainBlue;
  .navbar{
    padding: 0rem;
  }
  .navbar-brand{
    color: #fff;
    font-size: 1rem;
    padding: .35rem 1.6rem;
    margin-right: 0rem;
    background: $mainBlueDark;
  }
  .navbar-nav{
    .nav-link {
        color: #fff;
        display: block;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        &:hover{
          background: $mainBlueDark;
        }
    }
  }
}